/**
 * Brand Colours
 */

 $base-color: #444;
 $base-background-color: #fff;
 $bg-alt: #F6F5FF;
 $brand-color: #BA1B1D;
 $brand-color-alt: #4580D8;
 $dark-purple: #5E41D6;
 $sec-brand-color: #009ee3;
 $brand-green: #42F8D7;
 $color-white: #ffffff;
 $color-black: #000000;
 $color-text: #fff;
 $color-light-grey: #e7e7e7;
 $color-red: #bf3434;
 $white: #fff;
 $grey: limegreen;
 /**
  * Element Colours
  */
 
 $border-color: #dedede;
 $link-color: $sec-brand-color;
 $link-color-hover: $brand-color;
 $btn-bg: $brand-color;
 $btn-bg-alt: $brand-green;
 $btn-text: $color-white;
 $btn-bg-hover: $sec-brand-color;
 $btn-text-hover: $btn-bg;
 
 /**
  * UI Colours
  */
 
 $success-color: #5CB85C;
 $info-color: $brand-color;
 $validation-error: #d93d3d;
 
 $hamburger-color: #fff;
 
 /**
  * Typography
  */
 
 $sans-serif-font-family: 'Syne',
 Arial,
 sans-serif;
 $serif-font-family: 'Aleo',
 Georgia,
 "Times New Roman",
 Times,
 serif;
 $numbers: 'PT Mono',
 Georgia,
 "Times New Roman",
 Times,
 serif;
 $base-font-family: $sans-serif-font-family;
 $base-font-size: 14;
 $base-line-height: 1.75;
 $sp-unit: ($base-font-size * $base-line-height) * 1px;
 
 /**
  * Breakpoints
  */
 
 $breakpoint-xxlg: 2380px;
 $breakpoint-xlg: 1920px;
 $breakpoint-lg: 1200px;
 $breakpoint-md: 768px;
 $breakpoint-sm: 480px;
 
 /**
  * Grid
  */
 
 $grid-max-width: 1200px;
 $grid-columns: 12;
 $grid-gutter: $sp-unit;
 
 /**
  * Components
  */
 
 $border-radius: 3px;
 
 
 
 
 
 
 $xs: 420px;
 $sm: 600px;
 $md: 767px;
 $lg: 1023px;
 $xlg: 1200px;
 $xl: 1600px;
 
 $navbreak: 1180px;
 $container-max: 1200px;
 
 $gutter: $sp-unit;