@import "../../../src/scss/utils/variables";
@import "../../../src/scss/utils/mixins";

.footer {
    background-color: transparent;
    border-top: 2px solid $color-white;
    padding-top: 40px;
    padding-bottom: 40px;

    .logo {
        width: 100%;
        max-width: 50px;
        margin-bottom: 20px;
    }

    &Logo {
        p,a {
            margin-bottom: 0;
            font-size: 12px;
            color: $color-white;
        }
    }
}

.third {
    display: flex;
    justify-content: flex-end;
}

.socialLink {
    width: 100%;
    max-width: 50px;
    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.6;
    }

    img {
        width: 100%;
    }
}