@import "../../../src/scss/utils/variables";
@import "../../../src/scss/utils/mixins";

.navSec {
    margin-top: $sp-unit;
    margin-bottom: 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    li ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        margin-left: 0;
        font-family: $base-font-family;
        width: 50%;
    }

    a {
        font-size: 14px;
        color: $color-white;
        font-weight: 300;
        display: block;
        margin-bottom: 8px;
        text-decoration: none;
        font-family: $base-font-family;
        width: auto;
        margin-bottom: 0;
        
        &:hover, &:focus {
            text-decoration: underline;
            color: $color-white
        }
    }
}